
.item {
  position: relative;
      overflow: hidden;
      min-width: 30%;
      height: 240px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 5px black;
      margin: 0 7.5px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      

      &:first-child{
          margin-right: 7.5px;
     }
    
    &:last-child {
        margin-left: 7.5px;
    }
    &:nth-child(4) ,&:nth-child(5){
      height: 380px;
     }
     
     .background{
      background-position:center;
      background-size: cover;
       height: 100%;
       width: 100%;
     }
    &:hover {
      cursor: pointer;
    
      & .background {
        transform: scale(1.1);
        transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -webkit-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -moz-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -ms-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -o-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 0.9;
      }
    }
    
    .content {
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 0px 25px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        opacity: 0.8;
        border-radius: 5px;
        
    }
    .title {
      font-weight: 900;
      margin-bottom: 6px;
      font-size: 25px;
      color: #4a4a4a;
      text-transform: uppercase;
    }

    .subtitle {

      padding: 5px 10px;
      margin-top: 10px;
      background-color: black;
      border-radius: 5px;
      font-size: 20px;
      color: white;
    }
}